/* global */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #F5634B;
    --light-orange: #FD911B;
    --dark-orange: #F56648;
    --gray: #7f7f7f;
    --black: #000;
    --white: #fff;
    --bg-black: #181A23;
    --bg-gray: #F0F2F4;
}

* {
    font-family: 'Montserrat';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s;
}

.nav-bg {
    background-color: var(--bg-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed';
}

.btn {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(to right, var(--light-orange), var(--dark-orange));
    padding: 1rem 2rem;
    display: inline-block;
}

.btn:hover {
    background: linear-gradient(to right, var(--dark-orange), var(--light-orange));
    transform: translateY(-10%);
}

.btn i {
    margin-left: 1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.para {
    line-height: 1.7rem;
    color: var(--gray);
    margin: 1rem 0;
}

.title {
    text-transform: uppercase;
    font-size: 3rem;
    position: relative;
    text-align: center;
    padding: 1.5rem 0;
    margin: 2rem 0;
}

.title::before {
    content: "";
    width: 5rem;
    height: .3rem;
    background-color: var(--primary);
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

/* nav */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
}

nav .logo {
    color: var(--white);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

nav .logo span {
    color: var(--primary);
}

nav #toggle {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    border-radius: 0;
    border: 0;
    display: none;
}

nav .navbar {
    display: inline-block;
    margin: 0 auto;
}

nav .navbar li {
    list-style: none;
    display: inline-block;
}

nav .navbar a {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    display: block;
}

nav .phone {
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
}

nav .navmenu {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

nav .dropdown {
    position: relative;
}

nav .dropdown .dropdown-menu {
    position: absolute;
    left: 0;
    top: 125%;
    width: 200%;
    background-color: var(--bg-black);
    display: none;
}

nav .dropdown .dropdown-menu.active {
    display: block;
}

/* home */
#home {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../gallery/home-bg.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .home-content {
    width: 75%;
}

#home .home-content .home-info {
    border: 1px solid var(--white);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: .3rem .5rem;
    display: inline-block;
    font-size: 0.9rem;
}

#home .home-content .home-title {
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--white);
    line-height: 6rem;
    margin: 1rem 0;
    font-weight: 800;
    letter-spacing: .3rem;
}

#home .home-content .home-title span {
    display: block;
    color: var(--primary);
    font-family: 'Barlow Condensed';
}

/* home-card */
.home-card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    margin-top: -5rem;
}

.home-card-content .box {
    background-color: var(--white);
    position: relative;
    z-index: 2;
    padding: 1.5rem;
    flex: 1 1 24rem;
    overflow: hidden;
    cursor: pointer;
}

.home-card-content .box .number {
    position: absolute;
    top: 5%;
    font-size: 5rem;
    color: var(--gray);
    opacity: 0.5;
    z-index: -1;
}

.home-card-content .box h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    margin: 1rem 0;
}

.home-card-content .box a {
    color: var(--primary);
    text-transform: uppercase;
    text-decoration: none;
}

.home-card-content .box::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--light-orange), var(--dark-orange));
    position: absolute;
    left: 0;
    bottom: 100%;
    transition: all .7s;
    z-index: -2;
}

.home-card-content .box:hover::before {
    bottom: 0;
}

.home-card-content .box:hover h2,
.home-card-content .box:hover .para,
.home-card-content .box:hover a {
    color: var(--white);
}

/* skill */
.skill {
    margin: 5rem 0;
}

.skill .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skill .container .skill-img,
.skill .container .skill-content {
    width: 50%;
}

.skill .container .skill-img img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.skill .container .skill-content {
    padding: 2rem;
}

.skill .container .skill-content h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.skill .container .skill-content h1 span {
    font-family: 'Barlow Condensed';
    color: var(--primary);
}

/* discount */
.discount {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url("https://cdn.pixabay.com/photo/2016/11/19/12/43/barbell-1839086_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5rem 0;
    text-align: center;
    color: var(--white);
}

.discount p {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.discount h1 {
    text-transform: uppercase;
    font-size: 3rem;
    width: 50%;
    margin: 3rem auto;
}

.discount h1 span {
    color: var(--primary);
    font-family: 'Barlow Condensed';
}

/* services */
#services {
    margin: 5rem 0;
}

#services .container>.para {
    text-align: center;
}

#services .services-content {
    display: flex;
    flex-wrap: wrap;
    margin: 3rem 0;
}

#services .services-content .box {
    flex: 1 1 24rem;
    text-align: center;
    padding: 1.5rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#services .services-content .box i {
    font-size: 5rem;
    color: var(--primary);
}

#services .services-content .box h2 {
    text-transform: uppercase;
    margin: 1rem 0;
}

#services .services-content .box::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(var(--light-orange), var(--dark-orange));
    position: absolute;
    left: 0;
    bottom: 100%;
    transition: all .7s;
    z-index: -1;

}

#services .services-content .box:hover::before {
    bottom: 0;
}

#services .services-content .box:hover,
#services .services-content .box:hover .para,
#services .services-content .box:hover i {
    color: var(--white);
}


/* gallery */
.gallery .para {
    text-align: center;
}
.gallery .gallery-content {
    display: flex;
    flex-wrap: wrap;
}
.gallery .gallery-content img {
    width: 25%;
    height: 15rem;
    object-fit: cover;
}


/* customer */
.customer {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url('https://cdn.pixabay.com/photo/2023/03/12/16/10/man-7847245_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    padding: 5rem 0;
    text-align: center;
}
.customer .customer-content .box i {
    color: var(--primary);
    font-size: 3rem;
}
.customer .customer-content .box h2 {
    text-transform: uppercase;
    margin: 1rem 0;
}
.customer .customer-content .box .para {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.3rem;
}
.customer .customer-content .box h4 {
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: normal;
    margin: .5rem 0;

}

/* course */
.course {
    text-align: center;
    padding: 5rem 0;
    background-color: var(--bg-gray);
}
.course .course-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}
.course .course-content .box {
    flex-basis: 18rem;
    flex-grow: 0;
    background-color: var(--white);
    box-shadow: 5px 5px rbga(0,0,0,0.2);
    text-align: left;
}
.course .course-content .box img {
    width: 100%;
}
.course .course-content .box h2,
.course .course-content .box .para {
    padding: 0 1rem;
    text-transform: capitalize;
}

/* footer */
footer {
    background-color: var(--bg-black);
    padding: 5rem 0;
    color: var(--white);
}
footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footer-info,
footer .footer-posts,
footer .footer-links,
footer .footer-location {
    flex-basis: 16rem;
    padding: 1rem;
}
footer h2 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}
footer .footer-info {
    flex-grow: 1;
}
footer .footer-info h1 {
    text-transform: uppercase;
}
footer .footer-posts span {
    color: var(--gray);
    opacity: 0.6;
}
footer .footer-links ul li {
    list-style: none;
}
footer .footer-links ul li::before {
    content: '\f054';
    padding-right: 0.7rem;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
footer .footer-links ul li:hover {
    color: var(--primary);
}
footer .footer-links ul li a {
    text-decoration: none;
    color: var(--gray);
    margin-bottom: 1rem;
    display: inline-block;
    text-transform: capitalize;
}
footer .footer-location .email,
footer .footer-location .phone {
    margin-bottom: 0.5rem;
}
footer .copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000;
    padding: 2rem 1rem;
}
footer .copyright i {
    padding-right: 1rem;
    cursor: pointer;
}

/* media query */
@media (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .skill .container .skill-img img {
        height: 25vw;
    }

}

@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }

    /* nav */
    nav #toggle {
        display: block;
    }

    nav {
        position: relative;
    }

    nav .navmenu {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        background-color: var(--bg-black);
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        padding: 1rem 0;
        transition: all .5s;
    }

    nav .navmenu.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    nav .navbar li {
        display: block;
        text-align: center;
    }

    nav .phone {
        width: 100%;
        text-align: center;
        margin-top: 1rem;
    }

    nav .dropdown .dropdown-menu {
        position: static;
        width: 100%;
    }

    /* skill */
    .skill .container .skill-img,
    .skill .container .skill-content {
        width: 100%;
    }

    /* gallery */
    .gallery .gallery-content img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 550px;
    }
    /* customer */
    .customer .customer-content .box .para {
        width: 85%;
    }
}

@media (max-width: 576px) {
    /* gallery */
    .gallery .gallery-content img {
        width: 100%;
    }

}